<a href="https://colab.research.google.com/github/7twik/GoogleColab/blob/main/pythonbasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("machine")

machine

In [3]:
print("machine","learning")

machine learning

In [4]:
print(5+3)

8

In [21]:
a=5+2j
print(type(8.3),type(5),type(True),type('a'),type("yoo"),type(a))

<class 'float'> <class 'int'> <class 'bool'> <class 'str'> <class 'str'> <class 'complex'>

In [9]:
float
int
bool
str
complex

float

In [11]:
a=5
print(type(a))
a="yo yo bhondoo"
print(type(a))

<class 'int'>
<class 'str'>

In [15]:
a,b,c=1,2,3
print(a)
print(c)

1
3

In [16]:
a=b=c=2

In [20]:
a=int(input("input de bhai:"))
print(a)
type(a)

input de bhai:5
5

int

In [ ]:
a=7>3   # > , >= , <= , <
print(a)

In [22]:
print("hello"*5)

hellohellohellohellohello

In [23]:
a="amishabhondasame"
print(a[1:5])  #[x:y] to xth index se y-x index tk kaatega

mish

In [5]:
a=[1,True,"string",4+5j,5.3]  #list
b=5
a.append(b)
print(a)
type(a)

[1, True, 'string', (4+5j), 5.3, 5]

list

In [7]:
print(len(a))
print(a[2])
del a[2]
print(a)

6
string
[1, True, (4+5j), 5.3, 5]

In [8]:
a=[2,3]
b=[4,5]
c=a+b
print(c)

[2, 3, 4, 5]

In [10]:
a=(1,2,3)   #tuple unchangeable + del append doesnt work + syntax a=(...)
b=[1,2,3]   #list changeable + del append does work + syntax a=[...]
print(type(a))
print(type(b))

<class 'tuple'>
<class 'list'>

In [ ]:
arithmetic operation
+,-,**,%,*,/
2**10=1024

In [ ]:
assignment operator
=,+=,-=,/=...

In [ ]:
comparison operator
==,!=,>,<,>=,<=

In [ ]:
logical operator
and, or

In [ ]:
identity operator
is,not         (works same as ==)
if(a==b)  => if(a is b)
if(a!=b)  => if( a is not b)

In [ ]:
if(a>b):
  ye iske andr h
  ye v h
  ye v h
ye nhi h

In [ ]:
if(a>b):
  ....
  if(...):
    .....
  else:
    .....
elif(b>a):
  ....
else:
  ....

In [19]:
def oddeven():
  # we do not need to declare return type we can return anything if we want
  # and if we want to not return it is also ok
  if(5%2==0):
    print("even")
  else:
    print("odd")

oddeven(2,4)

def oddeven(n):
  if(n%2==0):
    print("even")
  else:
    print("odd")

oddeven(2)
def oddeven(n,m):
  if((n+m)%2==0):
    print("even")
  else:
    print("odd")

oddeven(2,4)

even